* {
    box-sizing: border-box;
    color: #000000;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    list-style-type: none;
    margin: 0;
    padding:0;
    text-align: center;
    text-decoration: none;
    overflow-x: hidden;
    
  }

  :root {
    --spacing: 10px;
    --background-color:  #fad4de;
    --font-weight: bold;
    --text-align: center;
    --linear-gradient: linear-gradient(to bottom, #ffc477 5%, #fb9e25 100%);
    --top-padding: 30px;
    --bottom-padding: 50px;
    --margin : 10px;
  }

  body {
    background-color: var(--background-color);
  }

  .btn {
    box-shadow: 0px 1px 0px 0px #fff6af;
    background: var(--linear-gradient);
    background-color:#ffec64;
    border-radius: 6px;
    border: 1px solid #ffaa22;
    display: inline-block;
    cursor: pointer;
    font-size: 14px;
    font-weight: var(--font-weight);
    padding: 6px 24px;
    text-decoration: none;
    text-shadow: 0px 1px 0px #ffee66;
    
  }

  .btn:hover {
    background: linear-gradient(to bottom, #ffab23 5%, #ffec64 100%);
    background-color: #ffab23;
  }

  .btn:active {
    position: relative;
    top: 1px;
  }
  
  /* ----Navbar-----*/
  #navbar {
    background-color: var(--background-color);
  }

  .main-nav {
    padding: 10px 10px 5px;
    text-align: right;
  }
  
  .main-nav li{
    display: inline-block;
    padding-right: 1.5%;
    
  }
  
  /* ----Welcome Section----- */
  

  #welcome-section {
    background-color: #ea728c;
  }

h1 {
  font-family: 'Cinzel', serif;
  padding: var(--spacing);
  font-size: 2.8rem;
  font-weight: var(--font-weight);
  line-height: 1.2;
}

h2  {
  font-size: 1.5rem;
  font-weight: var(--font-weight);
}

.heading {
  font-size: 1.2rem;
  font-weight: var(--font-weight);
}

.services-section {
  padding-top: var(--top-padding)
}
 
.services-container {
display: flex;
flex-wrap: wrap;
justify-content: space-around;
}


.service1, .service2, .service3, .project-tile{
  padding: var(--spacing);
background: rgba(255, 255, 255, 0.12);
border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(5px);
-webkit-backdrop-filter: blur(5px);
border: 1px solid rgba(255, 255, 255, 0.3);
  margin: 2%;
  width: 300px;

}

.justify {
  text-align: justify;
  padding: var(--spacing);
}

.small-text {
  font-size: 0.8rem;
  
}


  /* ----About Section-----*/

.about-section {
  background-color: var(--background-color);
 
}

.text-side {
  display: block;
  margin: 0 auto;
  padding: 0 10%;

}

.introduction  p, .skills li {
  text-align: justify;
  line-height: 1.5;
}

.introduction h2 {
  padding-bottom: 20px;
}

.introduction, .skills {
  padding: 10px 50px;
}

.contacts-btns button {
  margin: var(--margin);
  width: 35%;
}

.skills {
  line-height: 1.5;
  padding-top: var(--top-padding);
}

.waves {
  background-color: var(--background-color);
  
}
 
  /* ----Projects  Section-----*/
  #projects {
  min-height: 100%;
  padding-bottom: 5%;
  }
  
  .projects-title {
    background-color: #ea728c;
   padding: 0.8%;
  }
  
  .project-grid {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
      grid-gap: 20px;
      justify-items: center;
      padding: 10px;
      width: 100%;
     
  }
  
    .project-tile {
    padding-bottom: 10px;
  }
  
  .project-image {
   max-width: 100%;
   height: auto;
  }
  
  .project-name {
    padding: 2%;
    text-align: var(--text-align);
   
  }

  hr {
    color: #ea728c;
    height: 1px;
  }

   /* Testimony section */

   .testimonies-section {
     background-color: #ea728c;
     padding: 50px;
   }

   .testimonies-section h2 {
     padding: var(--spacing);
   }

  /* Slideshow container */
.slideshow-container {
  position: relative;
  margin: auto;
}

.mySlides {
  display: none;
}

.testimony {
  text-align: center;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: #000;
  font-weight: var(--font-weight);
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

.prev {
  left: 5%;
}

.next {
  right: 0;
  border-radius: 3px 0 0 3px;
  padding-right: 20px;
}

.prev:hover, .next:hover {
  background-color: rgba(80, 78, 78, 0.8);
}


.text {
  font-size: 15px;
  line-height: 2;
  width: 100%;
  text-align: center;

}

.italics {
  font-style: italic;
  font-size: 11px;
  opacity: 0.8;
  
}
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: 0.4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: 0.4}
  to {opacity: 1}
}
  

  /* ----Footer  Section-----*/
  .footer {
    padding: 20px;
    position: relative;
    bottom: 0;
    width: 100%;
  }
  
  .email-link, .github-link, .codepen-link {
    margin-right: 5%;
  }


  .my-contacts:hover {
    font-size: 1.5rem;
     transition: font-size .2s ease-out;
  }

  .footer-text {
    font-size: 0.5rem;
    opacity: 0.3;
  }
  

  /* ----Minimum width 1285 -----*/
  @media(min-width: 1285px) {
    .projects-links {
      margin-top: 80px;
    }
  }
  

  /* ----Minimum width 769-----*/
  @media(min-width: 769px) {
    .navbar-toggle {
    display: none;
  } 
  }

  /* ----Min  width 1000-----*/
  @media(min-width: 1000px) {
    .project-grid {
    grid-template-columns: repeat(3, 1fr);
  }
  }
     

  /* ----Maximum width 769-----*/
  @media(max-width: 768px){
  
    .main-nav { 
   display: none;  
  }
    
  .navbar-toggle {
    cursor: pointer;
    position: absolute;
    right: 2%;
   
  }

  .active {
    display: block;
  }


  .skills-heading {
    margin-top: 10px;
  }

   .projects-button {
  margin-bottom: 8%;
  width: 50%;
  }

   .project-grid {
    grid-gap: 10px;
    padding: var(--spacing);
}

.prev, .next  {
  top: 25%;
  }
  
  } 
    
  
     /* ----Mobile-----*/

  @media(max-width: 480px){
 
   .introduction, .skills {
    padding: 10px;
  }

  .github-btn, .codepen-btn {
    font-size: 10px;
    width: 50%;
  }

  .col1, .col2, .col3, .project-name, .small-text {
    font-size: 14px;
  }

  .project-grid {
    padding: 0;
    justify-items: left;
   margin: 0;
  }


  .text {
    line-height: 1;
  }
}
